{% extends "fragments/layout" %}

{% block body %}

{% if dispositivo is empty %}
<div class="alert alert-info text-center">
    <i class="bi bi-info-circle"></i> {{ message('label.dispositivo.empty') }}
</div>
{% else %}
<h2> {{ message('label.dispositivo.detalle') }} {{ dispositivo.id }}</h2>
<ul>
    <li> {{ message('label.dispositivo.marca') }}: {{ dispositivo.marca }}</li>
    <li> {{ message('label.dispositivo.modelo') }}: {{ dispositivo.modelo }}</li>
    <li> {{ message('label.dispositivo.numeroSerie') }}: {{ dispositivo.numeroSerie }}</li>
    <li> {{ message('label.dispositivo.fabricante') }}: {{ dispositivo.fabricante }}</li>
    <li> {{ message('label.dispositivo.tipo') }}: {{ dispositivo.tipo }}</li>
</ul>
{% endif %}

{% endblock %}