{% extends "fragments/layout" %}

{% block body %}

<!-- Lista de Tarjetas -->
{% if dispositivos is empty %}
<div class="alert alert-info text-center">
    <i class="bi bi-info-circle"></i> No se han encontrado dispositivos
</div>
{% else %}
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Numero de Serie</th>
        <th>Fabricante</th>
        <th>Tipo</th>
    </tr>
    {% for dispositivo in dispositivos %}
    <tr>
        <td>{{ dispositivo.id }}</td>
        <td><a href="/app/misdispositivos/{{ dispositivo.id }}"> {{ dispositivo.marca}}</a> </td>
        <td>{{ dispositivo.modelo }}</td>
        <td>{{ dispositivo.numeroSerie }}</td>
        <td>{{ dispositivo.fabricante }}</td>
        <td>{{ dispositivo.tipo }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}